/TesteSomaDeDoisValores/nbproject/private/
/TesteSomaDeDoisValores/build/
/TesteSomaDeDoisValores/dist/
/TesteCalculadora/nbproject/private/
/TesteCalculadora/build/
/AtividadeCopiarPrograma/nbproject/private/
/AtividadeCopiarPrograma/build/
